.navigationContainer {
  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px 0;
}

.link {
  font-size: 24px;
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
  transition: color 0.3s ease, transform 0.3s ease;
}

.link span {
  color: #000000;
  font-weight: 500;
}
