@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  margin: 2rem auto;
  font-family: 'Poppins', sans-serif;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
  font-family: 'Poppins', sans-serif;
}

.formLabel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  margin: 1rem;
  background-color: #ffffff;
  border-radius: 16px;
  transition: background-color 0.3s ease;
  gap: 1rem;
  width: 100%;
  max-width: 500px;
  border: 1px solid rgba(255, 255, 255, 0.543);
}

.formInput {
  flex: 1;
  font-size: 1rem;
  font-weight: 500;
  color: #333;
  width: 100%;
}

.addContactBtn {
  background-color: #6609e0;
  border: none;
  border-radius: 16px;
  color: #fff;
  padding: 1rem 2rem;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin: 1rem;
  width: 50%;
  max-width: 500px;
}

.addContactBtn:hover,
.addContactBtn:focus {
  background-color: #d6d2d2;
}
