@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.appContainer {
  background: url(/assets/bg.png);
  background-size: cover;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contactsTitle,
.phonebookTitle {
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  text-align: center;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.contactsTitle {
  margin-top: 2rem;
}

.loader {
  margin-top: 1rem;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 600;
}
