@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

.sharedLayoutContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.sharedLayoutBar {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f1e9e9;
  border-radius: 16px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 40px 20px;
  outline: none;
  width: 600px;
  min-height: 400px;
  transition: all 0.3s ease;
}

