.form {
  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  align-items: center;
}

.formLabel {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 18px;
  font-weight: 600;
  color: #333;
}

.formInput {
  width: 250px;
  height: 30px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 18px;
  font-weight: 500;
  color: #333;
  padding: 5px 10px;
  outline: none;
  transition: border 0.3s ease;
}

.formInput:focus {
  border: 1px solid #6609e0;
}

.registerBtn {
  border-radius: 10px;
  padding: 10px 30px;
  background-color: #b8a3d4;
  border: none;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease;
}

.registerBtn:hover,
.registerBtn:focus {
  background-color: #6609e0;
  transform: scale(1.05);
}
