@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.contactList {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
  font-family: 'Poppins', sans-serif;
}

.contactItem {
  display: flex;
  gap: 1.875rem;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 600px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 1rem;
  border-radius: 16px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.contactListBtn {
  cursor: pointer;
  border-radius: 16px;
  padding: 0.5rem 1.25rem;
  border: none;
  font-weight: 600;
  background-color: #6609e0;
  color: #ffffff;
  transition: all 250ms;
}

.contactListBtn:hover,
.contactListBtn:focus {
  background-color: #d1c3c3;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.contactText {
  font-weight: 700;
  font-size: 1.125rem;
}
